*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select:contain;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.login-form{
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 15px;
    border: 2px dotted #cccccc;
    border-radius: 10px;
}
h1{
    color: #009999;
    font-size: 20px;
    margin-bottom: 30px;
}
.input-box{
    margin-bottom: 10px;
    width: 370px;
}
.input-box input{
    padding: 7.5px 15px;
    width: 100%;
    border: 1px solid #cccccc;
    outline: none;
}
.btn-box{
    text-align: right;
    margin-top: 25px;
    display: inline-flex;
}

.btn-box a{
    text-decoration: none;
    text-transform: none;
}
.btn-box span{
    padding: 7.5px 15px;
    border-radius: 2px;
    background-color: #009999;
    margin-inline-end: 6px;
    margin-inline-start: 10px;
    color: #ffffff;
    border: none;
    font-weight: 500;
    outline: none;
}
.btn-box span:hover{
    color: rgb(11, 20, 46);
    cursor: pointer;
}