*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* background tin tức */
.bg_tin_tuc{
    background-image: url("/images/bg-tin.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 300px;
}
/* khung tin tức */
.bg_menu{
    margin-top: 30px;
}
.bg_menu_anh_1{
    display: flex;
    margin-left: 25px;
}
.bg_menu_anh_1 div{
    border: 1px solid #ccc;
    width: 420px;
    height: 750px;
    margin-left: 10px;
    border-radius: 10px;
    position: relative;
}
.bg_menu_anh img{
    border-radius: 10px;
}
/* tin tức ảnh 1 */
.bg_menu_anh h3{
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 20px;
    margin-top: 10px;
    color: #FFC863;
}
.bg_menu_anh h2{
    text-align: center;
    margin-top: 10px;
}
.bg_menu_anh h2 a{
    text-decoration: none;
    color: #040e24;
}
.bg_menu_anh p{
    font-size: 18px;
    margin-left: 10px;
    margin-top: 10px;
}
/* tin tức ảnh 1 xem chi tiết */
.bg_menu_anh .button{
    position: absolute;
    border-radius: 10px;
    top: 670px;
    left: 30px;
    width: 150px;
    height: 45px;
    background-color: #0B1C42;
    text-decoration: none;
}
.bg_menu_anh .button:hover{
    background-image: linear-gradient(135deg, #008aff, #86d472);
}
.bg_menu_anh .button .btn{ 
    text-transform: uppercase;
    position: absolute;
    color: #ffffff;
    margin: 11px 25px;
}
/* khung tin tức ảnh 2 */
.bg_menu_anh_2{
    margin-left: 25px;
    margin-top: 30px;
}
.bg_menu_item{
    display: flex;
}
.bg_menu_item div{
    border: 1px solid #ccc;
    width: 420px;
    height: 750px;
    margin-left: 10px;
    border-radius: 10px;
    position: relative;
}
/* tin tức ảnh 2 */
.bg_menu_anh_2 img{
    border-radius: 10px;
}
.bg_menu_anh_2 h3{
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 20px;
    margin-top: 10px;
    color: #FFC863;
}
.bg_menu_anh_2 h2{
    text-align: center;
    margin-top: 10px;
}
.bg_menu_anh_2 h2 a{
    text-transform: uppercase;
    text-decoration: none;
    color: #040e24;
}
.bg_menu_anh_2 p{
    font-size: 18px;
    margin-left: 10px;
    margin-top: 10px;
}
/* tin tức ảnh 2 xem chi tiết */
.bg_menu_anh_2 .button{
    position: absolute;
    border-radius: 10px;
    top: 670px;
    left: 30px;
    width: 150px;
    height: 45px;
    background-color: #0B1C42;
    text-decoration: none;
}
.bg_menu_anh_2 .button:hover{
    background-image: linear-gradient(135deg, #008aff, #86d472);
}
.bg_menu_anh_2 .button .btn{ 
    text-transform: uppercase;
    position: absolute;
    color: #ffffff;
    margin: 11px 25px;
}